body {
    background: linear-gradient(to bottom,  #4169e1, #FF7F50 100%);
    background-color: #f8f8f8; 
    font-family:verdana, geneva, sans-serif;
    box-sizing: border-box;

}




.signup-box, .login-box {
    width: 360px;
    margin: auto;
    background-color: #ffffff; /* White background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial;
}

h1 {
    text-align: center;
    color: black;
}

h4 {

    text-align: center;
    color: #FF7F50;
}

form {
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-family: Arial;
    font-size: 17px;
    color: #333; /* Black text color */
}


form input, input[type="button"] {
    width: calc(100% - 14px);
    padding: 10px; /* Increase adding for better readability */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
}


#department {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Add hover effect for department select */
#department:hover {
    border-color: #999;
}

/* Add focus effect for department select */
#department:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}



.password-input {
    position: relative;
}

#password {
    padding-right: 30px; /* Adjust the padding to make space for the eye icon */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 5px; /* Adjust the right property to move the eye icon closer */
    transform: translateY(-50%);
    cursor: pointer;
}

#toggleIcon{
    position:absolute;
    left:-640px;
    top: 36.9px;

}


.toggle-password i {
    font-size: 16px;
    color: #555;
}

.password-requirements {
    color: red;
    font-size: 12px;
    margin-top: -10px; /* Adjust the margin to move the paragraph up */
}



#submitButton,#loginButton,input[type="button"] {
    width: 100%;
    height: 40px; /* Increase button height */
    margin-top: 20px;
    border: none;
    background-color:#4169e1;
    color: #ffffff; /* White text color */
    font-size: 18px;
    cursor: pointer;
}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: #333; /* Black text color */
}

.para-2 {
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
    color: black; /* Black text color */
}

.para-2 a {
    color: white; /* Red link color */
    font-family:Arial;
}